@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./fonts.css");

body {
  font-family: "Supreme", sans-serif;
}

.hero-image {
  background-image: url("/assets/spiral-1.png");
  animation: toggleImage 1.5s infinite ease-in-out;
}

.hero-image-alt {
  background-image: url("/assets/spiral-2.png");
}

@keyframes toggleImage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.mnt {
  --border-color: #000;
}

.mnt:focus-within {
  --border-color: hsla(255, 83%, 53%, 1);
}

.mnt .PhoneInputCountry {
  border: 2px solid var(--border-color);
  color: #000;
  padding-inline: 10px;
  border-radius: 8px;
}

.mnt .PhoneInputInput {
  padding: 16px 24px;
  outline: transparent;
  border: 2px solid var(--border-color);
  border-radius: 8px;
}
