@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-image {
  background-image: url("/assets/spiral-1.png");
  animation: toggleImage 1.5s infinite ease-in-out;
}

.hero-image-alt {
  background-image: url("/assets/spiral-2.png");
}

@keyframes toggleImage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
