@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./fonts.css");

html {
  scroll-padding-top: 150px;
}

body {
  font-family: "Supreme", sans-serif;
}

.hero-image {
  background-image: url("/assets/spiral-1.png");
  animation: toggleImage 1.5s infinite ease-in-out;
}

@keyframes toggleImage {
  0% {
    background-image: url("/assets/spiral-1.png");
  }
  100% {
    background-image: url("/assets/spiral-2.png");
  }
}

.mnt {
  --border-color: #000;
}

.mnt:focus-within {
  --border-color: hsla(255, 83%, 53%, 1);
}

.mnt .PhoneInputCountry {
  border: 2px solid var(--border-color);
  color: #000;
  padding-inline: 10px;
  border-radius: 8px;
}

.mnt .PhoneInputInput {
  padding: 16px 24px;
  outline: transparent;
  border: 2px solid var(--border-color);
  border-radius: 8px;
}

.testimonial .swiper-button-next,
.testimonial .swiper-button-prev {
  background-color: hsla(255, 83%, 53%, 1);
  color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  padding: 10px;
}

.testimonial .swiper-button-next::after,
.testimonial .swiper-button-prev::after {
  font-size: 10px;
}

.testimonial .swiper-button-prev {
  left: -0%;
}
.testimonial .swiper-button-next {
  right: -0%;
}

.testimonial .swiper,
.testimonial .swiper-container {
  position: unset;
}

.remove-outline,
.remove-outline:focus-visible {
  outline: none;
}

/*add support for outline color https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-contrast */
@media (prefers-contrast: more) {
  .remove-outline,
  .remove-outline:focus-visible {
    outline: auto;
    outline-color: transparent;
  }
}

.counter-reset-step {
  counter-reset: step;
}
.counter-reset-step li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: #d9d9d9;
  top: 22px;
  left: -44.5%;
  z-index: -1;
}

@media only screen and (max-width: 62.5em) {
  .counter-reset-step li:after {
    left: -40.5%;
  }
}
@media only screen and (max-width: 571px) {
  .counter-reset-step li:after {
    left: -33.5%;
  }
}
.counter-reset-step li:first-child:after {
  content: none;
}

.counter-reset-step li.active::before {
  background: #5724eb;
  color: #fff;
}
.counter-reset-step li.active:after {
  background: #5724eb !important;
}

@layer utilities {
  .counter-increment-step {
    counter-increment: step;
    content: counter(step);
    background-color: #9b9b9b;
    color: #fff;
  }
}

@layer utilities {
  .upload-box {
    grid-column: 2/-1;
    grid-row: 2 / span 2;
  }
}

/* React D3 customization related classes */
.rd3t-link {
  stroke: #b39cf9 !important;
  stroke-width: 3px;
}
.rd3t-svg {
  overflow: visible !important;
}

/* photo flow loader components */
.lds {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #5724eb;
  animation: lds 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gallery_fig:hover .gallery_caption {
  opacity: 1;
}

.gallery_fig:hover .gallery_img {
  transform: scale(1);
  filter: brightness(40%);
}
